* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding-left: 20px;
}

li {
  list-style: none;
  cursor: pointer;
  margin: 16px 0;
}

li:hover {
  color: white;
}

i {
  margin-right: 5px;
}

.side-bar {
  width: 12%;
  background-color:#2c8437d1;
  color: #313335;
  height: 1492px;
  font-size: 1.1em;
}

.side-bar p {
  margin: 10px 0 10px 10px;
}

.pro-pic {
  width: 100px;
  height: 100px;
  margin: 15px 30px 0 30px;
  border-radius: 50%;
}

.severus {
  display: inline-block;
}

.snape-arrow {
   font-size: 1.7em;
}

.side-article {
  border-bottom: 1px solid #5D5854;
}

.icon {
  width: 15px;
}

.list-icon {
  width: 20px;
  margin-right: 5px;
}

.right-side {
  background-color: #bcbcbd;
  width: 88%;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 0px;
}

.top-nav {
  border-bottom: 1px solid #313335;
}

.nav-btn { 
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  width: 5.85%;
  height: 2.5em;
  outline: none;
  color: #313335;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: white;
  color:#2c8437d1;
} 

.menu-btn,
.profile-btn,
.calendar-btn
 {
  border-right: 1px solid;
}

.search-bar {
  width: 75%;
  height: 2em;
  font-size: 1.5em;
  border: none;
  background-color: transparent;
  outline: none;
}

.profile-btn {
  border-left: 1px solid; 
}

.second-nav {
  width: 100%;
  margin-left: 1em;
}

.job-info {
  display: inline-block;
  position: relative;
  margin: 2em 0 2em 1em;
  color: #313335;
}

.job-info h5 {
  display: inline-block;
}

.preview {
  color: #1b9cc6;
  cursor: pointer;
  margin-left: 1em;
}

.job-btns {
  display: inline-block;
  position: absolute;
  right: 2em;
  top: 6em;
  color: #313335;
}

.job-btn {
  border-radius: 30px;
  padding: 10px;
  font-size: 1em;
  color: #313335;
  margin-right: 10px;
  cursor: pointer;
}

.job-btn:hover {
  color: #2c8437d1;
}

.open {
  padding: 8px 10px;
}

.green-circle {
  width: 10px;
}

.bookmark {
  padding: 10px 12px;
}

.vertical-list {
  margin-bottom: 1em;
}

.vertical-list li {
  display: inline;
  font-size: .9em;
  margin-right: 30px;
  padding-bottom: 1em;
}

.vertical-list li:hover {
  border-bottom: 2px solid #2c8437d1;
}

.main-content {
  background-color: #e5e6e8;
  display: flex;
}

.circles {
  border: 7px solid;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  width: 180px;
  height: 180px;
  color:#313335;
}

.circles h2 {
  padding-top: 2.3em;
}

.first-circle {
  margin: 3em 1em 1em 2em;
  border-color: #522E6E #522E6E #522E6E white;
}

.second-circle {
  margin-right: 1em;
  border-color: #1b9cc6 #1b9cc6 white white;
}

.third-circle {
  border-color: #EC4A2E white white white;
}

.chart-article {
  height: 100%;
}

.chart {
  width: 530px;
  height: 220px;
  margin: 2em 2em .2em 2em;
}

.total-btn {
  border-radius: 30px;
  font-size: 1em;
  color: #313335;
  margin-left: 14.5em;
  cursor: pointer;
  padding: 8px 20px;
}

.total-btn:hover {
  background-color:#2c8437d1;
}

.stats-btn {
  border-radius: 30px;
  font-size: 1em;
  color: #313335;
  margin-left: 13em;
  margin-bottom: 3em;
  cursor: pointer;
  padding: 8px 20px;
}

.stats-btn:hover {
  background-color:#2c8437d1;
}

.bottom-content {
  background-color: #e5e6e8;
  display: flex;
} 

.table {
  background-color: white;
  width: 800px;
  margin-left: 2em;
  margin-bottom: 2em;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 2em;
  color: #313335;
}

table tr {
  border-bottom: 1px solid;
}

td {
  padding: 10px;
}

.albus {
  font-size: 2em;
  margin-right: .5em;
}

.bottom-row {
  border: none;
}

.column-one {
  width: 13em;
  padding: 2.5em 0;
  font-weight: bold;
}

.right-of-table-box1 {
  margin-left: 2em;
}

.social-btn {
  display: block;
  font-size: 1em;
  width: 23em;
  padding: 1em;
  margin-bottom: 1em;
  color: white;
  position: relative;
  cursor: pointer;
}

.social-icons {
  position: absolute;
  left: 15px;
}

.facebook {
  background-color: #5070BA;
}

.facebook:hover {
  background-color: #3c5794;
}

.twitter {
  background-color: #47A7E9;
}

.twitter:hover {
  background-color: #347cad;
}

.google {
  background-color: #AE2626;
}

.google:hover {
  background-color: #9f2929;
}

.right-of-table-box2 {
  width: 23em;
  margin: 2em;
  border-bottom: 1px solid;
}

.right-of-table-box2 p {
  padding: .8em 0;
  font-size: 0.9em;
}

.side-inputs {
  height: 3em;
  width: 25em;
  margin: 2em 0 4em 0;
  border: none;
}

.side-inputs-btn {
  height: 3.3em;
  margin: 0;
  position: relative;
  right: 5px;
  width: 7.2em;
  border: none;
  background-color: #2c8437d1;
  color: white;
}

.side-inputs-btn:hover {
  background-color: #4ad85cd1;
}

.bottom-input {
  width: 33em;
}

.bottom-bx {
  border-bottom: none;
}

@media screen and (min-width: 1800px){
  .side-bar {
    height: 1574px;
  }
  
  .circles-article {
    margin-left: 9em;
  }

  .second-circle {
    margin-bottom: 2em;
  }

  .chart {
    margin-left: 15em;
  }

  .stats-btn {
    margin: 1em 0;
    position: absolute;
    right: 14em;
  }

  .main-content {
    padding-bottom: 2em;
  }

  .table {
    width: 60em;
  }
  
  .right-of-table-box1 {
    margin-left: 5em;
  }
  
  .right-of-table-box2 {
    width: 33em;
    margin: 3em 5em;
  }

  .right-of-table-box2 p {
    padding: 2em 0;
  }

  .social-btn {
    width: 33em;
  }

  .side-inputs {
    width: 33em;
  }
  
  .side-inputs-btn {
    width: 12em;
  }

  .bottom-input {
    width: 45em;
  }

}


@media screen and (max-width: 770px) {
  .side-bar {
  height: 1329px;
  }

  .pro-pic {
    width: 4em;
    height: 4em;
    margin: 1em 1em 0 .6em;
    border-radius: 50%;
  }

   .side-bar p {
    margin: .5em;
    font-size: .8em;
  }
  
  .side-bar li {
    margin: 1em 0;
    font-size: 0.6em;
  }

  .list-icon {
    width: 10px;
  }

  .nav-btn {
    font-size: 1em;
    width: 5.5%;
    height: 1.5em;
    padding-top: .2em;
  }

  .search-bar {
    height: 1em;
    font-size: .7em;
  }

  .job-info {
   margin: 1em 0 2em 1em;
  }
  
  .second-nav {
    margin-left: 0;
  }

  .job-btns {
    right: .2em;
    top: 3em;
  }

  .vertical-list li {
    font-size: 0.8em;
  }

  .first-circle {
    margin: 0;
  }

  .circles {
    width: 55px;
    height: 55px;
    margin-left: 1.5em;
    margin-top: 1em;
  }

  .circles p {
    font-size: .5em;
  }

  .circles h2 {
    padding-top: 0.9em;
    font-size: .8em;
  }

  .total-btn {
    display: none;
  }

  .stats-btn {
    display: none;
  }

  .chart {
    width: 470px;
    height: 215px;
    margin: 1em 2em 0.2em 1em;
  }
  
  .bottom-content {
    padding: 1em;
  }

  table {
    margin: 1em;
  }
  
  .column-one {
    padding: .5em .5em;
  }

  .paragraph {
    font-size: .5em;
  }
  
  td {
    font-size: .7em;
  }

  .albus {
    display: none;
  }

  .right-of-table-box1 {
    margin-left: 3em;
  }

  .social-btn {
    font-size: .9em;
    width: 20em;
  }

  .right-of-table-box2 {
    width: 17.5em;
    margin: 2em 2em 2em 3em;
  }

  .side-inputs {
    width: 17.7em;
  }

  .bottom-input {
    width: 24em;
  }
}

@media screen and (max-width: 320px) {
  .side-bar {
    width: 20%;
    height: 2050px;
  }

  .right-side {
    width: 80%;
  }

  .pro-pic {
    width: 1.5em;
    height: 1.5em;
    margin: .3em;
  }

  .side-bar p {
    margin: .2em;
    font-size: .2em;
  }

  .side-bar ul {
    padding-left: 0.1em;
  }

  .side-bar li {
    font-size: 0.05em;
  }

  .menu-btn,
  .profile-btn,
  .calendar-btn {
    border: none;
  }

  .search-bar {
    font-size: .01em;
    height: 1em;
    width: 67%;
  }

  .nav-btn {
    font-size: .1em;
    width: 4%;
    height: 1.2em;
  }

  .job-info h5 {
    font-size: .5em;
  }

  .job-btns{
    top: 6.2em;
  }

  .job-btn {
    font-size: .1em;
    padding: 6px;
  }

  .open {
    padding: 3px 10px;
  }

  .bookmark {
    padding: 6px 8px;
  }

  .vertical-list li {
    margin-right: 26px;
    font-size: .7em;
  }

  .main-content {
    display: block;
  }

  .chart {
    height: 140px;
    margin: 1em .2em 1em .5em;
    width: 240px;
  }

  .bottom-content {
    display: block;
    padding: .75em;
  }

  .table {
    width: 14em;
    margin-left: .2em;
  }

  .social-btn {
    width: 16em;
  }

  .right-of-table-box1 {
    margin-left: .1em;
  }
  
  .right-of-table-box2 {
    width: 14.5em;
    margin: 1em .1em;
  }

  .side-inputs {
    width: 12.5em;
  }

  .side-inputs-btn{
    width: 7.5em;
  }

  .bottom-input {
    width: 20em;
  }
}
