* {
  margin: 0;
}

ul {
  padding-left: 20px;
}

li {
  list-style: none;
  cursor: pointer;
  margin: 3px 0;
}

li:hover {
  color: white;
}

i {
  margin-right: 5px;
}


.side-bar {
  width: 12%;
  background-color:#2c8437d1;
  color: #313335;
  height: 100vh;
  font-size: 1.1em;
}

.side-bar p {
  margin: 10px 0 10px 10px;
}

.pro-pic {
  width: 100px;
  height: 100px;
  margin: 15px 30px 0 30px;
  border-radius: 50%;
}

.severus {
  display: inline-block;
}

.side-article {
  border-bottom: 1px solid #5D5854;
}

.icon {
  width: 15px;
}

.list-icon {
  width: 20px;
  margin-right: 5px;
}

.right-side {
  background-color: #acadaf;
  width: 88%;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 0px;
  height: 100vh;
}

.top-nav {
  border-bottom: 1px solid #313335;
}

.nav-btn { 
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  width: 5.85%;
  height: 2.5em;
  outline: none;
  color: #313335;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: white;
  color:#2c8437d1;
} 

.menu-btn,
.profile-btn,
.calendar-btn
 {
  border-right: 1px solid;
}

.search-bar {
  width: 75%;
  height: 2em;
  font-size: 1.5em;
  border: none;
  background-color: transparent;
  outline: none;
}

.profile-btn {
  border-left: 1px solid; 
}

.second-nav {
  position: absolute;
  width: 100%;
}

.job-info {
  display: inline-block;
  position: relative;
  margin: 2em 0 2em 1em;
  color: #313335;
}

.job-info h5 {
  display: inline-block;
}

.preview {
  color: #1b9cc6;
  cursor: pointer;
  margin-left: 1em;
}

.job-btns {
  display: inline-block;
  position: absolute;
  right: 2em;
  top: 2em;
  color: #313335;
}

.job-btn {
  border-radius: 30px;
  padding: 10px;
  font-size: 1em;
  color: #313335;
  margin-right: 10px;
  cursor: pointer;
}

.job-btn:hover {
  color: #2c8437d1;
}

.open {
  padding: 8px 10px;
}

.bookmark {
  padding: 10px 12px;
}

.vertical-list {
  
}

.vertical-list li {
  display: inline;
  font-size: .9em;
  margin-right: 30px;
  padding-bottom: 1em;
}

.vertical-list li:hover {
  border-bottom: 2px solid #2c8437d1;
}

.main-content {
  background-color: #e5e6e8;
}

.circle {

}

